<p style="color: green"><%= notice %></p>

<%= render @micropost %>

<div>
  <%= link_to "Back to microposts", microposts_path %>
</div>

<br>
<% if user_signed_in? %>
  <ul class="list-group">
  <li class="list-group-item">
    <%= link_to "Edit this micropost", edit_micropost_path(@micropost) %>
  </li>
  <li class="list-group-item">
    <%= button_to "Destroy this micropost", @micropost, method: :delete %>
  </li>
<% end %>
